In [7]:
# read csv file
import pandas as pd
data = pd.read_csv('AirPassengers.csv')
# data
data['Date'] = pd.to_datetime(data['Date'])
data.head()

        Date  #Passengers
0 1949-01-01          112
1 1949-02-01          118
2 1949-03-01          132
3 1949-04-01          129
4 1949-05-01          121

In [6]:
a = pd.read_csv('AirPassengers.csv')
a.columns[0]

'Date'

In [8]:
import numpy as np
# extract month and year from dates**
data['Month'] = [i.month for i in data['Date']]
data['Year'] = [i.year for i in data['Date']]

# create a sequence of numbers
data['Series'] = np.arange(1,len(data)+1)


# check the head of the dataset**
data

         Date  #Passengers  Month  Year  Series
0  1949-01-01          112      1  1949       1
1  1949-02-01          118      2  1949       2
2  1949-03-01          132      3  1949       3
3  1949-04-01          129      4  1949       4
4  1949-05-01          121      5  1949       5
5  1949-06-01          135      6  1949       6
6  1949-07-01          148      7  1949       7
7  1949-08-01          148      8  1949       8
8  1949-09-01          136      9  1949       9
9  1949-10-01          119     10  1949      10
10 1949-11-01          104     11  1949      11
11 1949-12-01          118     12  1949      12
12 1950-01-01          115      1  1950      13
13 1950-02-01          126      2  1950      14
14 1950-03-01          141      3  1950      15
15 1950-04-01          135      4  1950      16
16 1950-05-01          125      5  1950      17
17 1950-06-01          149      6  1950      18
18 1950-07-01          170      7  1950      19
19 1950-08-01          170      8  1950      20
20 1950-09-01          158      9  1950      21
21 1950-10-01          133     10  1950      22
22 1950-11-01          114     11  1950      23
23 1950-12-01          140     12  1950      24
24 1951-01-01          145      1  1951      25
25 1951-02-01          150      2  1951      26
26 1951-03-01          178      3  1951      27
27 1951-04-01          163      4  1951      28
28 1951-05-01          172      5  1951      29
29 1951-06-01          178      6  1951      30
30 1951-07-01          199      7  1951      31
31 1951-08-01          199      8  1951      32
32 1951-09-01          184      9  1951      33
33 1951-10-01          162     10  1951      34
34 1951-11-01          146     11  1951      35
35 1951-12-01          166     12  1951      36
36 1952-01-01          171      1  1952      37
37 1952-02-01          180      2  1952      38
38 1952-03-01          193      3  1952      39
39 1952-04-01          181      4  1952      40
40 1952-05-01          183      5  1952      41
41 1952-06-01          218      6  1952      42
42 1952-07-01          230      7  1952      43
43 1952-08-01          242      8  1952      44
44 1952-09-01          209      9  1952      45
45 1952-10-01          191     10  1952      46
46 1952-11-01          172     11  1952      47
47 1952-12-01          194     12  1952      48
48 1953-01-01          196      1  1953      49
49 1953-02-01          196      2  1953      50
50 1953-03-01          236      3  1953      51
51 1953-04-01          235      4  1953      52
52 1953-05-01          229      5  1953      53
53 1953-06-01          243      6  1953      54
54 1953-07-01          264      7  1953      55
55 1953-08-01          272      8  1953      56
56 1953-09-01          237      9  1953      57
57 1953-10-01          211     10  1953      58
58 1953-11-01          180     11  1953      59

In [9]:
# split data into train-test set
train = data[data['Year'] < 1953]
test = data[data['Year'] >= 1953]

# check shape
train.shape, test.shape

((48, 5), (11, 5))

In [4]:
# import the regression module**
from pycaret.regression import *
# initialize setup**
s = setup(data = train, test_data = test, target = '#Passengers', fold_strategy = 'timeseries', numeric_features = ['Year', 'Series'], fold = 3, transform_target = True, session_id = 123)

In [5]:
best = compare_models(sort = 'MAE')

In [6]:
prediction_holdout = predict_model(best)

In [7]:
import plotly.express as px
# generate predictions on the original dataset**
predictions = predict_model(best, data=data)

# add a date column in the dataset**
predictions['Date'] = pd.date_range(start='1949-01-01', end = '1953-11-01', freq = 'MS')

# line plot**
fig = px.line(predictions, x='Date', y=["#Passengers", "Label"], template = 'plotly_dark')

# add a vertical rectange for test-set separation**
fig.add_vrect(x0="1953-01-01", x1="1953-11-01", fillcolor="grey", opacity=0.25, line_width=0)
fig.show()